#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home header {
  background-color: var(--primary-color);
  display: flex;
  width: 120rem;
  height: 45rem;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
}

#home header h1 {
  font-size: 3.1rem;
  line-height: 130%;
  margin-top: 10rem;
  margin-left: 7rem;

  color: white;
}

#home header p {
  color: white;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  position: absolute;
  width: 50rem;
  height: 14rem;
  left: 7rem;
  top: 16rem;
}

#home header img {
  width: 35rem;
  height: 35rem;
  position: relative;
  top: 4rem;
  left: 45rem;
}

#home .button {
  background: var(--scnd-color);

  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;

  padding: 1.6rem 3.2rem;
  width: fit-content;

  color: white;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  text-decoration: none;

  transition: background 200ms;
}

#home header .button {
  position: absolute;
  left: 7rem;
  top: 26rem;
}

#home .button:hover {
  background-color: #6486ff;
}