#sidebar {
  background-color: var(--primary-color);
  border-radius: 0 1rem 1rem 0;
  padding: 3rem 1.6rem;
  gap: 0.8rem;
  position: fixed;
  left: 15.5rem;
  width: 31.1rem;
  height: 100%;
}


#sidebar .pesquisar {
  background-color: var(--scnd-color);
  border-radius: 0.8rem;
  width: 24rem;
  height: 1.2rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;

  position: relative;
  top: 7rem;
  left: -26rem;
}

#sidebar #search {
  background-color: transparent;
  font-style: italic;
  font-size: 1.6rem;
  border: none;
  width: 27rem;
  height: 4rem;
}

#sidebar #search::placeholder {
  color: white;
}

#sidebar .menu {
  position: relative;
  left: -68rem;
  top: 14rem;

  z-index: 500;
}

#sidebar .menu ul li {
  list-style-type: none;
}



#sidebar .menu a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 1rem;
  gap: 1.6rem;
  transition: 0.3s;

  width: 25rem;
}

#sidebar .menu a:hover {
  background: var(--scnd-color);
}

#sidebar .barplus {
  position: relative;
  bottom: -14rem;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

#sidebar input {
  color: white;
  text-indent: 1.6rem;
  border: none;

  position: relative;
  top: 3rem;

  z-index: 100;
}

#sidebar input[type='submit'] {
  background: url(../../../assets/images/lupa.png) no-repeat;
  background-size: 2.8rem;
  border-radius: 0.8rem;
  padding: 2rem;
  border: none;
  cursor: pointer;
  position: relative;
  top: -0.4rem;
  left: 10rem;

  z-index: 100;
}

#search {
  background-color: transparent;
  font-style: italic;
  font-size: 1.6rem;
  border: none;
  width: 27rem;
  height: 4rem;
  position: relative;
  left: -1.6rem;
}
