.perfil{
    text-align: left;
    position: absolute;
    left: 43.5rem;
    top: 20rem;
    font-size: 2.2rem;
    line-height: 3.8rem;
    display: flex;
    align-items: center;
    color: var(--third-color);
    margin-left: 20%;
}

.picture{
    width: 300px; 
    height: 300px;
}

.perfilHder{
    position: absolute;
    left: 43.5rem;
    top: 10.5rem;
  
    font-size: 3.2rem;
    line-height: 3.8rem;
  
    display: flex;
    align-items: center;

    margin-left: 25%;
  
    color: var(--third-color);
}


  

.perfil-optbtn  {
    margin: -140% 5%;
    color: #CE7CFF;
    font-weight: bold;
    text-decoration: none;
    background-color: white;

    border-radius: 1.5rem;

    padding: 1rem;

    transition: 0.3s;
}
  
.perfil-optbtn:hover {
background-color: var(--scnd-color);
}
  