.perfil{
    text-align: left;

    position: absolute;
    left: 43.5rem;
    top: 20rem;
    font-size: 2.2rem;
    line-height: 3.8rem;
    display: flex;
    align-items: center;
    color: var(--third-color);
}