footer {
  background-color: var(--primary-color);
  padding-block: 6rem;

  text-align: left;

  color: white;

  position: relative;
  top: 90rem;
}

footer .logo svg {
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer p {
  color: white;
  line-height: 2;
  margin-left: 6rem;
  margin-bottom: 3.2rem;
}