.App {
    text-align: center;
    display: flex;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {    
    
    padding-left: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:12pt;
    color: rgba(206, 124, 255, 1);
  }
  .card{
    min-width: 190px;
    min-height: 126px;
    margin: 30px 30px;
    background-color: rgba(101, 233, 207, 1);
    border-radius: 10px;
  }

  .list-cards{
    align-items: center;
    align-content: center;
    

    min-height: 80%;
    min-width: 90%;
    stroke: black;
    stroke-width: 3px;
    

  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .nav-menu{
    min-width: 200px;
    min-height: 800px;
    max-height: 100%;
    background-color: rgba(101, 98, 227, 1);
    border-radius: 5px;
    list-style: none;
    text-align: left;
    color: white;
    padding-right: 30px;
  }
  .lista-simples{
    color: white;
    list-style: none;
    margin-top:30px;
    
  }
  #lista-simples li{
    margin: 30px;
  }
  
  .forms{
    background-color: rgba(94, 91, 205, 1);
    border-radius: 5px;
    stroke: none;
    
  }

  .tittle{
    margin-left: 1px;
  }
  .content{
    margin-left: 20px;
    max-width: 1100px;
  }

  .box-cards{
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
  }

  .option{
    margin-left: 150px ;
    font-size: 18pt;
  }


  .dropbtn {
    background-color: rgba(101, 233, 207, 1);
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #ad50ff;
  }
 
  .img-icon{
    max-width: 150px;
    max-height: 150px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
  }