* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  background-color: #f7f9f9;
}


input:-internal-autofill-selected {
  background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}